[program:gunicorn_{{ proj_name }}]
command={{ backend_path }}/bin/gunicorn_start
stdout_logfile={{ backend_path }}/logs/gunicorn_supervisor.log
user={{ user }}
autostart=true
autorestart=true
redirect_stderr=true
environment=LANG="{{ locale }}",LC_ALL="{{ locale }}",LC_LANG="{{ locale }}"
